# swap files
**/*.swp

# cached files
**/__pycache__/

# blender previous save files
**/*.blend1

# recorded videos
*.mp4
# training images
*.png
*.jpg
*.bag
*unity.lock
# model
*.pt
*.gv
*.pdf


# builds
**/bin/
**/install/
**/build/
**/log/

# folders
/log
/CMakeFiles
**/resource
# rosbags and database instances
